.page-container-sm{
  margin:20px auto;
  font-size: 12px;
  a{
    text-decoration: none;
  }
  .totle-page{
    padding-right: 10px;
  }
  .prev,.next,.page-num{
    display: inline-block;
    color: #222;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
    text-decoration: none;
    line-height: 26px;
    &:hover{
      color:#00a1d6;
    }
    &.current{
      color:#00a1d6;
    }
  }
  .page-box{
    display: inline-block;
  }
}
.page-container{
  font-size: 12px;
  margin:20px 0;
  .page-jump{
    float: right;
    color: #99a2aa;
    line-height: 36px;
    height: 36px;
    font-size: 12px;
    input{
      margin: 7px 5px 0;
      padding: 0 10px;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      box-shadow: none;
      width: 24px;
      border-radius: 4px;
      border: 1px solid #ddd;
      outline: none;
      text-align: center;
      cursor: pointer;
      &:focus{
        border-color:#00a1d6;
      }
    }
  }
  a{
    text-decoration: none;
  }
  .totle-page{
    padding-right: 10px;
  }
  .prev,.next,.page-num,.dian{
    min-width:15px;
    font-size: 14px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: #222;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border:1px solid #ddd;
    background-image:none;
    margin: 0 2px;
    padding: 0 10px;
    transition:all 0.2s;
    &:hover{
      background: #00a1d6;
      color: #fff;
      border: 1px solid #00a1d6;
    }
    &.current{
      background: #00a1d6;
      color: #fff;
      border: 1px solid #00a1d6;
    }
  }
  .dian{
    border: 1px solid #fff;
    cursor: default;
    &:hover{
      background: #fff;
      color: #222;
      border: 1px solid #fff;
    }
  }
}