.page-container{
  margin:20px auto;
  font-size: 12px;
  a{
    text-decoration: none;
  }
  .totle-page{
    padding-right: 10px;
  }
  .prev,.next,.page-num{
    display: inline-block;
    color: #222;
    cursor: pointer;
    text-align: center;
    margin: 0 4px;
    text-decoration: none;
    line-height: 26px;
    &:hover{
      color:#00a1d6;
    }
    &.current{
      color:#00a1d6;
    }
  }
  .page-box{
    display: inline-block;
  }
}